# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
coverage

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/

# Custom project files
auth_info_baileys/
migrated_prompt_history/
!Dockerfile.txt
!Dockerfile.api.txt
*.txt
