
version: '3.8'

services:
  # 1. Frontend Application (Painel)
  salesbot-web:
    build:
      context: .
      dockerfile: Dockerfile.txt
    container_name: salesbot-web
    restart: always
    ports:
      - "3005:80"
    environment:
      - VITE_API_URL=/api/v1/query
    depends_on:
      - salesbot-api

  # 2. Backend API (Lógica do Bot + WhatsApp Nativo)
  salesbot-api:
    build:
      context: .
      dockerfile: Dockerfile.api.txt
    container_name: salesbot-api
    restart: always
    ports:
      - "8085:8080"
    environment:
      - DB_HOST=consulta.flagcloud.com.br
      - DB_USER=SQL10071188
      - DB_PASS=SQL2020/R@1nh@
      - DB_NAME=flexx10071188
      - API_KEY=COLE_SUA_NOVA_CHAVE_AQUI
      # Variáveis antigas do Evolution removidas
    volumes:
      # Persistência da sessão do WhatsApp (Baileys) para não perder conexão ao reiniciar
      - whatsapp_auth_data:/app/auth_info_baileys

volumes:
  whatsapp_auth_data:
